*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'Open Sans', sans-serif;
  font-weight: 500;
}

h1{
  font-size: 5rem;
  font-weight: 900;
}

h2{
  font-size: 2.5rem;
  font-weight: bold;
}

h3{
  font-size: 1.5rem;
}

ul{
  list-style: none;
}

img{
  width: 100%;
}

.container{
  width: 98%;
  max-width: 1300px;
  margin: 0 auto;
}

.container.small-container{
  max-width: 1000px;
}

.debug{
  background-color: rgba(255, 0, 0, .2);
  border: 1px dashed greenyellow;
}

.debug-2{
  background-color: rgba(0, 255, 0, .2);
  border: 1px dashed yellow;
}

.d-flex{
  display: flex;
}

.pb-60{
  padding-bottom: 60px;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-30{
  margin-bottom: 30px;
}

.mb-50{
  margin-bottom: 50px;
}

.mb-60{
  margin-bottom: 60px;
}

.mb-150{
  margin-bottom: 150px;
}

.mt-160{
  margin-top: 160px;
}

.btn{
  display: inline-block;
  padding: 7px 16px;
  text-decoration: none;
  text-align: center;
  background-color: rgb(0, 98, 255);
  color: white;
}

.btn.btn-big{
  padding: 12px 16px;
}

.btn.btn-large{
  padding: 12px 60px;
}

.btn.btn-trasparent{
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.btn.btn-white{
  color: black;
  background-color: white;
}

.btn:hover{
  opacity: .8;
}

.radio{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border: 2px solid rgb(210, 210, 212);
  border-radius: 50%;
  cursor: pointer;
}

.radio.active{
  border: 5px solid rgb(0, 98, 255);
}

.bb-1g{
  border-bottom: 1px solid rgb(153, 153, 153);
}

/* header */

header{
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 2px 2px 5px rgb(206, 217, 224);
  background-color: white;
}

header .header-left, header .header-right{
  height: 100%;
  align-items: center;
}

header .logo{
  padding: 0 20px;
}

header ul li a{
  display: inline-block;
  height: 80px;
  padding: 0 20px;
  line-height: 80px;
  text-decoration: none;
  color: black;
}

header ul li a:hover{
  border-bottom: 2px solid black;
}

header .header-right div:last-child{
  margin-right: 20px;
}

/* jumbotron */

section.jumbotron{
  height: 750px;
  margin-top: 80px;
  background-color: rgb(181, 209, 232);
}

section.jumbotron div.container{
  padding-top: 80px;
}

section.jumbotron .jumbo-content .jumbo-text{
  width: 30%;
  height: fit-content;
}

section.jumbotron .jumbo-content .jumbo-text div:last-child i{
  font-size: 50px;
}

section.jumbotron .jumbo-content .jumbo-img{
  width: 70%;
}

section.jumbotron .jumbo-content .jumbo-img img{
  width: 92%;
}

/* main */

main #plan{
  font-size: .9rem;
}

main .billing-type{
  display: inline-block;
  height: 20px;
  margin-right: 40px;
}

main .plan-box{
  justify-content: space-between;
}

main .column{
  width: calc(100% / 3 - 30px);
  min-height: 100%;
}

main .column .plan-type,
main .row .plan-type{
  width: 100%;
  height: 100%;
  border: 1px solid rgb(210, 210, 212);
}

main .column .plan-type .plan-title,
main .row .plan-type .plan-title{
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid rgb(210, 210, 212);
}

main .column .plan-type .plan-content,
main .row .plan-type .plan-content{
  padding: 30px 25px;
}

main .column .plan-type .plan-content > div:nth-child(3){
  margin-top: 10px;
  font-weight: 600;
  color: rgb(105, 105, 105);
}

main .column .plan-type .plan-content ul li i{
  padding: 2px 5px 0 0;
}

main .column .plan-type .plan-content ul li.check i{
  color: rgb(0, 98, 255);
}

main .column .plan-type .plan-content .plan-btn{
  width: 100%;
  text-align: center;
}

main .column .plan-type .plan-content .plan-btn a{
  width: 100%;
  max-width: 250px;
}

main .column .plan-type .plan-content .buy-now div:first-child{
  display: inline-block;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(210, 210, 212);
}

main .row{
  width: 100%;
}

main .row .plan-content-right{
  width: 30%;
}

main .row .plan-content .plan-content-right {
  justify-content: flex-end;
}

main .row .plan-content .plan-content-right .plan-btn,
main .row .plan-content .plan-content-right .plan-btn a{
  width: 100%;
  max-width: 250px;
}

main .partner{
  font-size: medium;
}

main .partner .partner-img{
  width: 600px;
}

main .partner .partner-text{
  width: calc(100% - 600px);
  padding: 60px 50px;
}

main .card-box{
  justify-content: space-between;
  flex-wrap: wrap;
}

main .card-box .card{
  width: calc(100% / 3 - 30px);
}

main .sponsor-box{
  width: calc(100vw / 3);
  aspect-ratio: 1 / 1;
  flex-wrap: wrap;
}

main .sponsor-box .sponsor-type{
  width: 50%;
  height: 50%;
  justify-content: center;
}

main .sponsor-box .sponsor-type img{
  width: 50%;
  filter: invert(100%);
}

main .sponsor-box .sponsor-type.active{
  border: 15px solid rgba(255, 255, 255, .5);
}

main .sponsor-box .sponsor-active{
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 50px;
  background-color: rgb(245, 245, 245);
}

main .sponsor-box .sponsor-active .sponsor-logo img{
  width: 250px;
}

#uf img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .sponsor-box .sponsor-active .logo-border{
  width: 100px;
  border-bottom: 1px solid rgb(210, 210, 212);
}

/* sponsor list - colors */

#design{
  background-color: rgb(161, 212, 155);
}

#asu{
    background-color: rgb(97, 8, 43);
}

#uf{
  background-color: rgb(0, 148, 207);
  position: relative;
}

#topps{
  background-color: rgb(255, 28, 28);
}

#wbr{
  background-color: rgb(214, 0, 32);
}

#hearst{
  background-color: rgb(181, 209, 232);
}

#lonely{
  background-color: rgb(13, 36, 130);
}

#cco{
  background-color: rgb(255, 217, 48);
}

main .sponsor-bottom{
  width: 100%;
  height: 360px;
  background-color: rgb(181, 209, 232);
}

main .sponsor-bottom .sponsor-bottom-block{
  width: 50%;
  height: 360px;
  align-items: center;
}

main .sponsor-bottom-left h2 {
  color: rgb(97, 8, 43);
}

main .sponsor-bottom-block.sponsor-bottom-right{
  justify-content: flex-end;
}

main .question-row{
  padding: 50px 0;
  justify-content: space-between;
}

main .question-container{
  justify-content: space-between;
}

main .arrow-down{
  padding-right: 50px;
}

main .answer{
  display: none;
  padding-top: 50px;
}

main .arrow-up{
  display: none;
  padding-right: 50px;
}

main .question-row:hover .answer,
main .question-row:hover .arrow-up{
  display: inline-block;
}

main .question-row:hover .arrow-down{
  display: none;
}

/* footer */

footer{
  background-color: black;
  color: white;
}

footer .footer-top{
  padding-top: 110px;
}

footer .footer-top .footer-list{
  width: calc(100% / 5);
  padding-bottom: 110px;
}

footer .footer-top .footer-list ul li:first-child{
  padding-bottom: 40px;
  font-size: 1.5rem;
  font-weight: bold;
}

footer .footer-top .footer-list ul li{
  padding-bottom: 20px;
}

footer .footer-top .footer-list ul li a{
  text-decoration: none;
  color: white;
}

footer .footer-top .footer-list ul li a:hover{
  text-decoration: underline;
}

footer .footer-border{
  width: 130px;
  border-bottom: 1px solid white;
}

footer .footer-bottom{
  color: rgb(153, 153, 153);
}

footer .footer-bottom > div{
  padding: 60px 0;
}

footer .footer-bottom > div i:last-child:hover{
  cursor: pointer;
}